@import "tailwindcss";

@theme {
  --color-primary: #0041D2;
  --font-sans: var(--font-sans);
}

@layer utilities {
  .grid-lines {
    background-image: linear-gradient(#f0f0f0 1px, transparent 1px), linear-gradient(90deg, #f0f0f0 1px, transparent 1px);
    background-size: 40px 40px;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
